---
import { getCollection } from 'astro:content';
import Main from '@layouts/Main.astro';
import Card from '@components/Card.astro';
import Hr from '@components/Hr.astro';
import getSortedPosts from '@utils/getSortedPosts';
import { SITE } from '@config';

const posts = await getCollection('blog');
const sortedPosts = getSortedPosts(posts);
---

<Main
  title={`Blog | ${SITE.title}`}
  description="ブログ記事の一覧です"
>
  <section id="hero" class="pb-8 pt-10">
    <h1 class="text-3xl font-bold tracking-wide sm:text-4xl sm:font-extrabold">Blog</h1>
    <p class="text-xl text-skin-base/80 mt-3">
      {`ブログ記事 (${sortedPosts.length}件)`}
    </p>
  </section>
  <Hr noPadding />
  <section id="posts" class="pb-6 pt-12">
    <ul>
      {
        sortedPosts.map((post) => (
          <Card
            href={`/blog/${post.id}/`}
            frontmatter={post.data}
          />
        ))
      }
    </ul>
  </section>
</Main>
