---
import Main from '@layouts/Main.astro';
import Hr from '@components/Hr.astro';
import { SITE } from '@config';
---

<Main
  title={`About | ${SITE.title}`}
  description="このサイトについて"
>
  <section id="hero" class="pb-6 pt-8">
    <h1 class="text-2xl font-bold tracking-wide sm:text-3xl sm:font-extrabold">About</h1>
    <p class="text-lg text-skin-base/80">
      このサイトについて
    </p>
  </section>
  <Hr noPadding />
  <section id="about-content" class="pb-6 pt-12">
    <div class="prose prose-lg max-w-none text-skin-base">
      <p class="text-lg">TBD</p>
    </div>
  </section>
</Main>
