---
import { getCollection } from 'astro:content';
import Main from '@layouts/Main.astro';
import Card from '@components/Card.astro';
import Hr from '@components/Hr.astro';
import getSortedPosts from '@utils/getSortedPosts';
import { SITE } from '@config';

const posts = await getCollection('blog');
const sortedPosts = getSortedPosts(posts);
---

<Main
  title={`Posts | ${SITE.title}`}
  description="すべてのブログ記事の一覧です"
>
  <section id="hero" class="pb-6 pt-8">
    <h1 class="text-2xl font-bold tracking-wide sm:text-3xl sm:font-extrabold">Posts</h1>
    <p class="text-lg text-skin-base/80">
      {`すべての記事 (${sortedPosts.length}件)`}
    </p>
  </section>
  <Hr noPadding />
  <section id="posts" class="pb-6 pt-12">
    <ul>
      {
        sortedPosts.map(({ data, id }) => (
          <Card
            href={`/posts/${id}/`}
            frontmatter={data}
          />
        ))
      }
    </ul>
  </section>
</Main>